{% extends 'appinmobiliaria/base.html' %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>{% block title %} Administracion {% endblock title %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

       {% block content %}
       {% csrf_token %}
       <div class="container">
        <h2>Listado de Propiedades</h2>
        {% if propiedades %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Dirección</th>
                        <th>Tipo de Propiedad</th>
                        <th>Venta o Alquiler</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody>
                    {% for propiedad in propiedades %}
                    <tr>
                        <td>{{ propiedad.direccion }}</td>
                        <td>{{ propiedad.get_tipo_de_propiedad_display }}</td>
                        <td>{{ propiedad.get_venta_o_alquiler_display }}</td>
                        <td>{{ propiedad.precio }}</td>
                        <td><a href="{% url 'appinmobiliaria:ver-propiedad' propiedad.id %}" class="btn btn-primary">Ver</a></td>
                        <td><a href="{% url 'appinmobiliaria:modificar_propiedad' propiedad.id %}" class="btn btn-primary">Editar</a></td>
                        <td><a href="{% url 'appinmobiliaria:eliminar-propiedad' propiedad.id %}" class="btn btn-secondary">Borrar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        
        {% endif %}
    </div>


    {% endblock %}