{% extends 'appinmobiliaria/base.html' %}
{% load static %}
{% block Title %} Propiedad   {% endblock %}
{% block content %}

    {% if property.images.count >  1 %}
        {% for image in property.images.all %}
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                        <div class="about-img position-relative overflow-hidden p-5 pe-0">
                            <img class="img-fluid w-100" src="{{ image.image.url }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}   
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="about-img position-relative overflow-hidden p-5 pe-0">
                        <img class="img-fluid w-100" src="{{ property.images.first.image.url }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <h1>Dirección: {{ property.direccion }} </h1>
    <li>Tipo de Propiedad:{{ property.tipo_de_propiedad }}</li>
    <li>{{ property.palabra_clave }}</li>
    <li>Metros Cuadrados:{{ property.metros }}</li>
    <li>Cantidad de Ambientes:{{ property.ambientes }}</li>
    <li>Descripción:{{ property.descripcion }}</li>
    <li>Estado: {{ property.venta_o_alquiler }}</li>
    <li>Baños: {{ property.baños }}</li>

{% endblock %}